p3-dog-breed-classifier/dogImages/
p3-dog-breed-classifier/lfw/
p3-dog-breed-classifier/bottleneck_features/
p3-dog-breed-classifier/move/
p3-dog-breed-classifier/dog_app.zip
p3-dog-breed-classifier/dogImages.zip
p3-dog-breed-classifier/lfw.zip